@import "../../../scss/variable";

.buttonLog {
  font-size: 1rem;
  padding: 0.6rem;
  font-weight: 600;
  background-color: $button;
  border-radius: 8px;
  cursor: pointer;

  transition: transform ease-in 0.1s;
  &:active {
    transform: scale(0.9);
    background-color: darken($button, 5%);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
}
